<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration Form</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="./static/css/styles.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="../static/js/index.js"></script>
</head>
<body>
  

 <div class="wrapper">
  <div class="title">
    Registration Form
  </div>
  <ul id="order"></ul>
  <div class="form">
   <div class="inputfield">
    <label>Product Name</label>
    <input type="text" class="input" id="prodName" maxlength="10" placeholder="Enter product Name" >
  </div>  
  <div class="inputfield">
    <label>Category</label>
    <input type="text" class="input" id="prodCate"  maxlength="10" placeholder="Enter product Category">
  </div>  
  
  <div class="inputfield">
    <label>Price</label>
    <input type="text" class="input" id="prodPrice" placeholder="Enter price in Rupee">
  </div> 
  
  
  <div class="inputfield">
    <label>Quantity</label>
    <input type="text" class="input" id="prodQuant" placeholder="Enter product Quantity">
  </div> 

  
  
  <div class="inputfield">
    <input id="final" type="submit" value="Save" class="btn ">
  </div>
</div>
</div>  
</body>
</html>