<!DOCTYPE html>
  <html lang="en">
  	<head>
  		<title>Registration Form</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <link rel="stylesheet" href="./static/css/styles.css">

    <script src="../static/js/index.js"></script>
  	</head>
  	<body>
      

  		<!-- <div class="container">
  			<div class="col-md-3"></div>
  			<div class="col-md-6" id="form" >
  			
  					<h1>Form</h1>
  					<br><br>
  					<div class="row">
  						<div class="col-md-1"></div>
  						<div class="col-md-5">
  							<input type="first" placeholder="First Name" class="Form control" id="nm"required="">
  						</div>
  						<div class="col-md-5">
  							<input type="last" placeholder="Last Name" class="Form control" id="nm1" required="">
  						</div>
  						
  					</div>
  	<br>
  					
  						<button  id="final">Submit </button>

  			</div>
  			
  		</div> -->


 <div class="wrapper">
    <div class="title">
      Registration Form
    </div>
    <ul id="order"></ul>
    <div class="form">
       <div class="inputfield">
          <label>Product Name</label>
          <input type="text" class="input" id="nm" >
       </div>  
        <div class="inputfield">
          <label>Category</label>
          <input type="text" class="input" id="nm1">
       </div>  
        
      <div class="inputfield">
          <label>Price</label>
          <input type="text" class="input" id="nm2">
       </div> 
        
        
      <div class="inputfield">
          <label>Quantity</label>
          <input type="text" class="input" id="nm3">
       </div> 

       <div class="inputfield">
          <label>Active</label>
          <div class="custom_select">
            <select id="dropDown" onchange="getSelectValue()">
              <option value="">Select</option>
              <option value="open">open</option>
              <option value="close">close</option>
            </select>
          </div>
       </div> 
      
      
      <div class="inputfield">
        <input id="final" type="submit" value="Save" class="btn ">
      </div>
    </div>
</div>  
  	</body>
  </html>